<!-- <div class="attaque1 bg-white flex justify-between">


  <form class="m-10 p-10 w-1/2" >



    <div class="relative z-0  w-full group">

      <input  type="text" name="password" [(ngModel)]="password"   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="valueOfk" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Type a password</label>
    </div>

    <button class="bg-blue-500 rounded-lg px-4 py-1 text-white mt-4 shadow-md" (click)="attaque()">Attaque</button>

    <p *ngIf="shows" class="text-red-500 font-bold">Your password <span class="text-blue-500">({{password}})</span> has been cracked in {{seconds}} <span class="text-xs">ms</span></p>


  </form>

  <div class="result w-1/2 bg-gray-100 h-96 overflow-y-scroll">
      <h4 class="text-center">Possible password</h4>
      <p class="ml-10" *ngFor="let mdps of posibilities" >{{ mdps }}</p>
  </div>

</div> -->

<button class="bg-blue-500 rounded-lg px-4 py-1 text-white mt-4 shadow-md" (click)="attaque()">Attaque2</button>

