<div class="container bg-white w-96 m-auto pt-6 pb-4 px-4 shadow-xl rounded-xl ">

  <div *ngIf="succeslogin" class="succes absolute top-10 right-4 bg-white text-black  border border-green-500 w-96 py-2 rounded-lg shadow-xl pl-2">
    You have login successfully pres go to continu
  </div>



    <!-- <a routerLink="home" class="bg-blue-500 px-4 py-1 rounded-md text-white cursor-pointer" > -->


       <div *ngIf="!singup"  class="login">




        <form #inForm="ngForm">
          <div class="">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email </label>
            <input [disabled]="hacker" [ngStyle]="{'border-left': (email.length > 5) ? '5px solid #42A948' : '5px solid #a94442'}"  required [ngClass]="showError   ?  'border-red-500' : '' "  [(ngModel)]="email" name="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Alice" required="">
          </div>
          <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">password</label>
            <input [ngStyle]="{'border-left': (password.length < 3 || error) ? '5px solid #a94442 ' : '5px solid  #42A948'}"  required [disabled]="showError || hacker" [ngClass]="showError  ?  'border-red-500' : '' "  [(ngModel)]="password" name="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required="">
          </div>


          <div class="btns flex space-x-4">
            <button type="submit"   [disabled]="! captchavalide || hacker" [ngClass]="showError|| !captchavalide || hacker || email.length < 3 || password.length < 3? 'disabled bg-blue-300 cursor-not-allowed' : '' " class="bg-blue-500 px-4 py-1  rounded-md text-white cursor-pointer w-1/2 text-center" (click)="in()">LogIn</button>
            <button [ngClass]="(showError || !captchavalide || email.length < 3 || hacker  || password.length < 3)  ? 'disabled bg-blue-300 cursor-not-allowed' : '' " class="bg-blue-500 px-4 py-1  rounded-md text-white cursor-pointer w-1/2 text-center">
              <a routerLink="home" class="" >Go</a>
            </button>
          </div>

        </form>

        <div *ngIf="hacker"  class="p-4 mt-4  text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
          <span class="font-medium"></span> Sorry,You seems like you dont own this account
        </div>

        <div  *ngIf="hacker" class="p-4 mt-4  text-sm text-blue-600 font-medium  rounded-lg" role="alert">
          <span class="font-medium"></span> this account has been blocked, pleas contact us at <span class="font-bold text-xs text-black">group8@usthb.com</span> to confirm your identity
        </div>




        <p *ngIf="error" class="text-sm text-red-500  mt-2">the data is invalid</p>



        <div *ngIf="showWarning" class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg relative mt-4 " role="alert">
          <span class="font-medium">Warning!!!</span> You {{5- tryingNumber}} have more tries.
          <svg  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute right-4 top-5 hover:w-5 hover:h-5 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>

        </div>

        <div *ngIf="showError"  class="p-4 mt-4  text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
          <span class="font-medium"></span> Sorry,You seems like you dont own this account
        </div>

        <div *ngIf="showBigError"  class="p-4 mt-4  text-sm bg-green-100 text-black  rounded-lg " role="alert">
          We've send u an email at:
          <span  class="font-bold"> {{email}}</span>
        </div>

        <div *ngIf="showError" class="text-xs m-4">
          u can try in : {{ timeTotryAgain}}

        </div>

        <div *ngIf="showReset" class="reset mt-2 text-xs">
          you forgot you password?
           <button (click)="resetPassword()" class="text-sm text-blue-500">click here</button> to reset
        </div>
<!--
        <div class="container-fluid py-3 ml-5">

          <re-captcha (resolved)="resolved($event) " siteKey="6LePfKsiAAAAAJb_s2YyMiXIM0AWOBY0c9YF5V0l"></re-captcha>
        </div>
 -->



        <button class="mt-4  text-xs font-medium to hover:text-blue-500" (click)="singup= true"  >you Don't have an account?</button>

      </div>

      <div *ngIf="singup" class="signup">




        <form>
          <div class="mb-4">
            <label for="usernameup" class="block mb-2 text-sm font-medium text-gray-900 ">User name</label>
            <input [(ngModel)]="usernameup" name="usernameup" type="text" id="usernameup" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Alice" required="">
          </div>

          <div class="mb-4">
            <label for="emailup" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input [(ngModel)]="emailup" name="emailup" type="text" id="emailup" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Alice@gmail.com" required="">
          </div>

          <div class="mb-4">
            <label for="passwordup" class="block mb-2 text-sm font-medium text-gray-900 ">password</label>
            <input [ngStyle]="{'border-left': (passwordup.length < 6 || error) ? '5px solid #a94442 ' : '5px solid  #42A948'}" [(ngModel)]="passwordup" name="passwordup" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required="">
          </div>

          <button class="bg-blue-500 px-4 py-1  rounded-md text-white cursor-pointer w-full text-center " (click)="up()">SingUp</button>
        </form>


        <p *ngIf="errorUp" class="text-sm text-red-500  mt-2">Pleas fill all of the data</p>





          <button class="mt-4  text-xs font-medium to hover:text-blue-500" (click)="singup= false"  >You already have an account?</button>



      </div>


      <div class="ataque">
        <div class="h2">try to hack :</div>
        <app-mdps1 [password]="password"></app-mdps1>
        <app-mdps2 [password]="password"></app-mdps2>
        <app-mdps3 [password]="password"></app-mdps3>

        <!-- <button (click)="attaque()" class="bg-blue-500 px-4 py-2 rounded-xl">attaque 1</button>
        <button (click)="attaque()" class="bg-blue-500 px-4 py-2 rounded-xl">click</button>
        <button (click)="attaque()" class="bg-blue-500 px-4 py-2 rounded-xl">click</button> -->



      </div>


       <!-- <button (click)="resetPassword()" class="m-10 p-10 text-red-600">RESET password</button> -->

</div>
