<div class="container w-4/5 flex justify-start space-x-10 m-auto  pt-6 ">
  <h4 class="text-blue-500 font-bold pl-4 fixed left-72  top-20 px-4 rounded-lg bg-white pb-2 pt-2">List of Messages</h4>

  <div class="msgs bg-white shadow-xl rounded-lg py-4 pt-10 w-96 h-96 overflow-y-scroll mt-6 " >




    <div *ngFor="let msg of messages" class="mesage ">
      <p class="hover:bg-gray-200 py-2 px-4 cursor-pointer" (click)="onSend(msg.message,msg.valueofa,msg.valueofb,msg.valueofn)">
        {{ msg.message }}
      </p>
    </div>


  </div>

  <div *ngIf="isSend" class="send w-3/5">

    <form class="m-0 w-full" >
      <div class="relative z-0 mb-6 w-full group mt-3">
          <input value="{{cryptedText}}"  readonly  type="text" name="resultTxt" id="resultTxt" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="resultTxt" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">The cypted text is </label>
      </div>

      <label for="methods" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Choose a methode to decrypt</label>
      <select   [(ngModel)]="methode" name="methode"  id="methods" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full   p-2.5">
          <option [value] ="0">Miroir</option>
          <option [value] ="1">Affine</option>
          <option [value] ="2">Decalage</option>
          <option [value] ="3">Cesar</option>
      </select>
      <div class="relative z-0 mt-4 mb-6 w-full group">
          <input value="{{dcryptedText}}"   readonly  type="text" name="originalWord" id="originalWord" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label  for="resultTxt" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">The decypted message is </label>
      </div>



          <button (click)="onDeCrypte()" type="button" class="px-4 py-2 mt-4 hover:bg-blue-500 cursor-pointer bg-blue-400 text-white rounded-xl" id="sumbiteDeCrypt"> De Crypter</button>
  </form>

  </div>
</div>
